# Gradle
.gradle/
build/
Android/.gradle/
Android/.gradle-home/
Android/.kotlin/
Android/.idea/
Android/build/
Android/app/build/
Android/app/.cxx/
Android/app/.externalNativeBuild/
Android/gradle/
Android/gradlew
Android/gradlew.bat

# IDEs
.idea/
*.iml
.vscode/
*.swp
*.swo

# Local config
local.properties

# C++ / Client build artifacts
Client/build/
Client/PreviewWindow.exe
*.obj
*.pdb
*.bin



# Java / Android debug artifacts
*.hprof

# OS
.DS_Store
Thumbs.db
